<style>
    .user {
        width: 30%;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        background: #282828;
    }

    .flex {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .Title {
        font-weight: bold;
        font-size: 150%;
    }

    .Creation {
        opacity: 50%;
    }

    .pfp {
        float: left;
        width: 20px;
        margin-top: 10px;
    }

    .thumb {
        width: 100%;
    }

    .ID {
        font-size: 150%;
    }


</style>

@model IEnumerable<METADATABASE.Models.Users>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<p>The users of METADATABASE and their projects.</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="flex">
    @foreach (var item in Model)
    {
        <div class="user">
            <img class="thumb" src="@Html.DisplayFor(modelItem => item.ProjThumbnailImg)" />
            <br />
            <img class="pfp" src="@Html.DisplayFor(modelItem => item.Pfp)" />‎
            <span class="Title">@Html.DisplayFor(modelItem => item.UserName)</span>
            <br />
            <span class="Email">@Html.DisplayFor(modelItem => item.Email)</span>
            <br />
            <span class="Description">@Html.DisplayFor(modelItem => item.ProjName)</span>
            <br />
            <span class="Creation">@Html.DisplayFor(modelItem => item.ProjDesc)</span>
            <br />

            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

        </div>

}
</div>
