<style>
    .feedback {
        width: auto;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        background: #282828;
    }

    .title {
        font-weight: bold;
        font-size: 150%;
    }

    .date {
        opacity: 50%;
    }

    .feedback img {
        float: left;
        width: 20px;
    }
</style>

@model IEnumerable<METADATABASE.Models.Feedback>

@{
    ViewData["Title"] = "Feedback";
}

<h1>Feedback</h1>
<p>Request and give feedback for other students' projects.</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) {
    <div class="feedback">
        <img src="@Html.DisplayFor(modelItem => item.pfp)" />‎
        <span class="ID">@Html.DisplayFor(modelItem => item.userID)</span>
        <br />
        <span class="title">@Html.DisplayFor(modelItem => item.title)</span>
        <br />
        <span class="date">@Html.DisplayFor(modelItem => item.date)</span>
        <br />
        <span class="desc">@Html.DisplayFor(modelItem => item.description)</span>
        <br />
        <a asp-action="Edit" asp-route-id="@item.FeedbackID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.FeedbackID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.FeedbackID">Delete</a>

    </div>


}
