@model METADATABASE.Models.Posts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Posts</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Pfp)
        </dt>
        <dd class = "col-sm-10">
@*             <img class="Pfp" src="@Html.DisplayFor(modelItem => item.User.Pfp)"
 *@        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PostsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
