<style>
    .post {
        width: auto;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        background: #282828;
    }

    .Title {
        font-weight: bold;
        font-size: 150%;
    }

    .Creation {
        opacity: 50%;
    }

    .ID {
        font-size: 150%;
    }

    .Likes {
        float: right;
    }

    .Comments {
        float: right;
    }

    .post img {
        width: 20px;
        height: 20px;
    }
</style>

@* @model IEnumerable<METADATABASE.Models.Posts>*@
 @model PostIndexViewModel

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>
<p>Request and give feedback for other students' projects, request solutions to a bug you've encountered, and discuss.</p>

<form asp-action="Index" method="get">
    <p>
        Search by Title or Username: <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<p>
    <a asp-action="Index" asp-route-sortOrder="@ViewBag.TitleSortParm">Sort by Title</a> |
    <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSortParm">Sort by Date</a> |
    <a asp-action="Index" asp-route-sortOrder="@ViewBag.LikesSortParm">Sort by Likes</a>
</p>


<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var post in Model.Posts)
{
    <div class="post">
        <img class="PfpFile" src="@("~/Image/"+post.User.PfpName)" asp-append-version="true" />‎

        <span class="ID">@Html.DisplayFor(modelItem => post.User.UserName)</span>
        <br />
        <span class="Title">@Html.DisplayFor(modelItem => post.Title)</span>
        <br />
        <span class="Description">@Html.DisplayFor(modelItem => post.Description)</span>
        <br />
        <span class="Creation">@Html.DisplayFor(modelItem => post.Creation)</span>
        <br />

        <!-- Link to Likes -->
        <a class="Likes" href="@Url.Action("Index", "Likes", new { postId = post.PostsID })">@post.LikesCount.ToString() Likes</a>
        <br />

        <!-- Link to Comments -->
        <a class="Comments" href="@Url.Action("Index", "Comments", new { postId = post.PostsID })">@post.CommentsCount.ToString() Comments</a>
        <br />

        <!-- Link to Reports -->
        <a class="Comments" href="@Url.Action("Index", "Reports", new { postId = post.PostsID })">@post.ReportsCount.ToString() Reports</a>
        <br />

        <a asp-action="Edit" asp-route-id="@post.PostsID">Edit</a> |
        <a asp-action="Details" asp-route-id="@post.PostsID">Details</a> |
        <a asp-action="Delete" asp-route-id="@post.PostsID">Delete</a>

    </div>
}

<!-- Pagination Controls -->
<div>
    @if (Model.PaginationInfo.CurrentPage > 1)
    {
        <a asp-action="Index" asp-route-pageNumber="@(Model.PaginationInfo.CurrentPage - 1)" asp-route-sortOrder="@Model.SortOrder" asp-route-searchString="@Model.SearchString">Previous</a>
    }

    @for (int i = 1; i <= Model.PaginationInfo.TotalPages; i++)
    {
        <a asp-action="Index" asp-route-pageNumber="@i" asp-route-sortOrder="@Model.SortOrder" asp-route-searchString="@Model.SearchString">@i</a>
    }

    @if (Model.PaginationInfo.CurrentPage < Model.PaginationInfo.TotalPages)
    {
        <a asp-action="Index" asp-route-pageNumber="@(Model.PaginationInfo.CurrentPage + 1)" asp-route-sortOrder="@Model.SortOrder" asp-route-searchString="@Model.SearchString">Next</a>
    }
</div>