<style>
    .post {
        width: auto;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        background: #282828;
    }

    .Title {
        font-weight: bold;
        font-size: 150%;
    }

    .Creation {
        opacity: 50%;
    }

    .ID {
        font-size: 150%;
    }

    .Likes {
        float: right;
    }

    .Comments {
        float: right;
    }

    .post img {
        width: 20px;
        height: 20px;
    }
</style>

@model IEnumerable<METADATABASE.Models.Posts>
@* @inject  *@

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>
<p>Request and give feedback for other students' projects, request solutions to a bug you've encountered, and discuss.</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="post">
        <img class="PfpFile" src="@("~/Image/"+item.User.PfpName)" asp-append-version="true" />‎

        <span class="ID">@Html.DisplayFor(modelItem => item.User.UserName)</span>
        <br />
        <span class="Title">@Html.DisplayFor(modelItem => item.Title)</span>
        <br />
        <span class="Description">@Html.DisplayFor(modelItem => item.Description)</span>
        <br />
        <span class="Creation">@Html.DisplayFor(modelItem => item.Creation)</span>
        <br />

        <!-- Link to Likes -->
        <a class="Likes" href="@Url.Action("Index", "Likes", new { postId = item.PostsID })">@item.LikesCount.ToString() Likes</a>
        <br />

        <!-- Link to Comments -->
        <a class="Comments" href="@Url.Action("Index", "Comments", new { postId = item.PostsID })">@item.CommentsCount.ToString() Comments</a>
        <br />

        <a asp-action="Edit" asp-route-id="@item.PostsID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.PostsID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.PostsID">Delete</a>

    </div>


}
