@model METADATABASE.Models.Reports

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reports</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsersID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsersID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostsID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostsID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentsID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentsID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReportsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
