<style>
    .report {
        width: auto;
        margin: 20px auto;
        padding: 15px;
        border-radius: 10px;
        background: #282828;
    }

    .Creation {
        opacity: 50%;
    }

    .ID {
        font-size: 150%;
    }

    .Title {
        font-weight: bold;
        font-size: 150%;
    }
</style>

@model IEnumerable<METADATABASE.Models.Reports>

@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>
<p>Moderate the content of the community.</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="report">
        <img class="PfpFile" src="@("~/Image/"+item.User.PfpName)" asp-append-version="true" />‎
        <span class="Title">@Html.DisplayFor(modelItem => item.User.UserName)</span>
        <br />
        <span class="ID">"@Html.DisplayFor(modelItem => item.Post.Title)"</span>
        <br />
        <span class="Content">@Html.DisplayFor(modelItem => item.Content)</span>
        <br />
        <span class="Creation">@Html.DisplayFor(modelItem => item.Creation)</span>
        <br />
        <a asp-action="Edit" asp-route-id="@item.ReportsID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ReportsID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ReportsID">Delete</a>

    </div>


}
