@model IEnumerable<METADATABASE.Models.Comments>

@{
    ViewData["Title"] = "Comments";
}

<div class="postcontainer"> <!-- The post in question -->

@if (Model.Any())
{
    var post = Model.First().Post;
    <div class="post">
            <img class="PfpFile" src="@("~/Image/"+post.User.PfpName)" asp-append-version="true" />‎
            <span class="UserName">@post.User.UserName</span>
        <br />
        <span class="Title">@post.Title</span>
        <p>@post.Description</p>
        <span class="Creation">@post.Creation.ToString("dd/MM/yyyy")</span>
        </div>
    }
@*     else
    {
        @inject IEnumerable<METADATABASE.Models.Posts> post
        post.PostId == 
} *@
 


    <p>
        <a asp-action="Create" asp-route-PId="@ViewBag.PId">Create New Comment</a>
    </p>

@foreach (var item in Model)
{
    <div class="comment">
            <img class="PfpFile" src="@("~/Image/"+item.User.PfpName)" asp-append-version="true" />‎
           <span class="UserName">@Html.DisplayFor(modelItem => item.User.UserName)</span>
        <br />
        <span class="Content">@Html.DisplayFor(modelItem => item.Content)</span>
        <br />
        <span class="Creation">@Html.DisplayFor(modelItem => item.Creation)</span>
        <br />
@*         <span class="Correct">@Html.DisplayFor(modelItem => item.Correct)</span>
        <br /> *@

            <a asp-action="Edit" asp-route-id="@item.CommentsID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.CommentsID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.CommentsID">Delete</a>

    </div>
}
</div>