<style>
    .Likes {
        float: right;
    }
</style>
@model IEnumerable<METADATABASE.Models.Comments>

@{
    ViewData["Title"] = "Comments";
    int? postId = ViewBag.PId;
    string currentSort = ViewBag.CurrentSort;

}

<form asp-action="Index" method="get">
    <p>
        Search by Content or Username: <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<p>
    Sort by: 
    @Html.ActionLink("Content", "Index", new { postId = postId, sortOrder = ViewBag.ContentSortParm }) | 
    @Html.ActionLink("Creation Date", "Index", new { postId = postId, sortOrder = ViewBag.DateSortParm }) | 
    @Html.ActionLink("Likes", "Index", new { postId = postId, sortOrder = ViewBag.LikesSortParm })

</p>

<div class="postcontainer"> <!-- The post in question -->

@if (Model.Any())
{
    var post = Model.First().Post;
    <div class="post">
            <img class="PfpFile" src="@("~/Image/"+post.User.PfpName)" asp-append-version="true" />‎
            <span class="UserName">@post.User.UserName</span>
        <br />
        <span class="Title">@post.Title</span>
        <p>@post.Description</p>
        <span class="Creation">@post.Creation.ToString("dd/MM/yyyy")</span>
        </div>
    }

    <p>
        <a asp-action="Create" asp-route-PId="@ViewBag.PId">Create New Comment</a>
    </p>

@foreach (var item in Model)
{
    <div class="comment">
            <img class="PfpFile" src="@("~/Image/"+item.User.PfpName)" asp-append-version="true" />‎
           <span class="UserName">@Html.DisplayFor(modelItem => item.User.UserName)</span>
        <br />
        <span class="Content">@Html.DisplayFor(modelItem => item.Content)</span>
        <br />
        <span class="Creation">@Html.DisplayFor(modelItem => item.Creation)</span>
        <br />
@*         <span class="Correct">@Html.DisplayFor(modelItem => item.Correct)</span>
        <br /> *@

            <!-- Link to Likes -->
            <a class="Likes" href="@Url.Action("Index", "Likes", new { commentID = item.CommentsID })">@item.LikesCount.ToString() Likes</a>
            <br />

            <!-- Link to Reports -->
            <a class="Likes" href="@Url.Action("Index", "Reports", new { commentID = item.CommentsID })">@item.ReportsCount.ToString() Reports</a>
            <br />

            <a asp-action="Edit" asp-route-id="@item.CommentsID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.CommentsID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.CommentsID">Delete</a>

    </div>
}
</div>