<style>
    .Likes {
        float: right;
    }
</style>

@model IEnumerable<METADATABASE.Models.Comments>

@{
    ViewData["Title"] = "Comments";
}

<div class="postcontainer"> <!-- The post in question -->

@if (Model.Any())
{
    var post = Model.First().Post;
    <div class="post">
        <img class="Pfp" src="@post.Pfp" />‎
        <span class="Username">@post.User.Username</span>
        <br />
        <span class="Title">@post.Title</span>
        <p>@post.Description</p>
        <span class="Creation">@post.Creation.ToString("dd/MM/yyyy")</span>
    </div>
}

    <p>
        <a asp-action="Create">Create New Comment</a>
    </p>

@foreach (var item in Model)
{
    <div class="comment">
        <img class="Pfp" src="@Html.DisplayFor(modelItem => item.User.Pfp)" />‎
        <span class="Username">@Html.DisplayFor(modelItem => item.User.Username)</span>
        <br />
        <span class="Content">@Html.DisplayFor(modelItem => item.Content)</span>
        <br />
        <span class="Creation">@Html.DisplayFor(modelItem => item.Creation)</span>
        <br />
        <span class="Correct">@Html.DisplayFor(modelItem => item.Correct)</span>
        <br />

            <!-- Link to Likes -->
            <a class="Likes" href="@Url.Action("Index", "Likes", new { commentID = item.CommentsID })">@item.LikesCount.ToString() Likes</a>
            <br />

        <a asp-action="Edit" asp-route-id="@item.PostsID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.PostsID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.PostsID">Delete</a>

    </div>
}
</div>