@model IEnumerable<METADATABASE.Models.Likes>

@{
    ViewData["Title"] = "Index";
}

<style>
    .Likes {
        float: right;
    }

    .list {
        margin-top: -9px;
    }
</style>

<h1>Likes</h1>

<div class="postcontainer"> <!-- the container, containing both likes and post/comment-->
        @if (ViewBag.Post != null)
        {
        var post = ViewBag.Post; // grab the post from the controller
            <div class="post">
                <img class="PfpFile" src="@("~/Image/"+post.User.PfpName)" asp-append-version="true" />‎
               <span class="UserName">@post.User.UserName</span>
                <br />
                <span class="Title">@post.Title</span>
                <p>@post.Description</p>
                <a href="@Url.Action("Create", "Likes", new { postId = post.PostsID })" class="Likes">Like this post</a>
                <br />
                <span class="Creation">@post.Creation.ToString("dd/MM/yyyy")</span>
            </div>
        }
        else if (ViewBag.Comment != null)
        {
        var comment = ViewBag.Comment; //grab the comment from the controller
            <div class="post">
            <img class="PfpFile" src="@("~/Image/"+comment.User.PfpName)" asp-append-version="true" />‎
                <span class="UserName">@comment.User.UserName</span>
                <br />
                <p>@comment.Content</p>
            <span class="Correct">
                @(comment.Correct ? "✅" : "")
            </span>
                <br />
                <a href="@Url.Action("Create", "Likes", new { commentId = comment.CommentsID })" class="Likes">Like this comment</a>
                <br />
                <span class="Creation">@comment.Creation.ToString("dd/MM/yyyy")</span>
            </div>
        }
        else
        {
            <p>Error: no post or comment was found.</p>
        }


    @foreach (var item in Model) // likes show up here
    {
        <div class="comment">
            <img class="PfpFile list" src="@("~/Image/"+item.User.PfpName)" asp-append-version="true" />‎
            <span class="UserName">@Html.DisplayFor(modelItem => item.User.UserName)</span>

            <div style="float: right;">
                <a asp-action="Details" asp-route-id="@item.LikesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LikesID">Unlike</a>
            </div>
        </div>
    }


</div>