@model IEnumerable<METADATABASE.Models.Likes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsersID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pfp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostsID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsersID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pfp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostsID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LikesID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LikesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LikesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
