@model IEnumerable<METADATABASE.Models.Likes>

@{
    ViewData["Title"] = "Index";
}

<h1>Likes</h1>

<div class="postcontainer"> <!-- The post in question -->

@if (Model.Any())
{
    var post = Model.First().Post;
    <div class="post">
            <img class="Pfp" src="@post.Pfp" />‎
        <span class="Username">@post.User.Username</span>
        <br />
        <span class="Title">@post.Title</span>
        <p>@post.Description</p>
        <span class="Creation">@post.Creation.ToString("dd/MM/yyyy")</span>
    </div>
}

    <p>
        <a asp-action="Create">Like this post</a>
    </p>

@foreach (var item in Model) {
    <div class="comment">
            <img class="Pfp" src="@Html.DisplayFor(modelItem => item.Pfp)" />‎
            <span class="Username">@Html.DisplayFor(modelItem => item.User.Username)</span>

        <div style="float: right;">
        <a asp-action="Edit" asp-route-id="@item.LikesID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.LikesID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.LikesID">Delete</a>
        </div>
    </div>
}

</div>