@model IEnumerable<METADATABASE.Models.Likes>

@{
    ViewData["Title"] = "Index";
}

<style>
    .Likes {
        float: right;
    }

    .list {
        margin-top: -9px;
    }
</style>

<h1>Likes</h1>

<div class="postcontainer"> <!-- the container, containing preview post-->
    @if (Model.Any()) {
        @if (ViewBag.PostId != null)
        {
            var post = Model.First().Post;
            <div class="post">
                <img class="PfpFile" src="@("~/Image/"+post.User.PfpName)" asp-append-version="true" />‎
               <span class="UserName">@post.User.UserName</span>
                <br />
                <span class="Title">@post.Title</span>
                <p>@post.Description</p>
                <br />
                <a href="@Url.Action("Create", "Likes", new { postId = post.PostsID })" class="Likes">Like this post</a>
                <br />
                <span class="Creation">@post.Creation.ToString("dd/MM/yyyy")</span>
            </div>
        }
        else
        {
            <span>Post not found.</span>

        }
    }


    @foreach (var item in Model)
    {
        <div class="comment">
            <img class="PfpFile list" src="@("~/Image/"+item.User.PfpName)" asp-append-version="true" />‎
            <span class="UserName">@Html.DisplayFor(modelItem => item.User.UserName)</span>

            <div style="float: right;">
                <a asp-action="Details" asp-route-id="@item.LikesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LikesID">Unlike</a>
            </div>
        </div>
    }


</div>