﻿<style>
     .user {
         width: 30%;
         margin: 20px auto;
         padding: 15px;
         border-radius: 10px;
         background: #282828;
     }

     .flex {
         display: flex;
         gap: 20px;
         flex-wrap: wrap;
     }

     .thumb {
         width: 100%;
     }

     .Description {
         overflow-y: scroll;
         margin: 0;
         height: 200px;
     }
</style>

@model IEnumerable<METADATABASE.Models.Users>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<p>The users of METADATABASE and their projects.</p>

<div class="flex">
    @foreach (var item in Model)
    {
        <div class="user">
            <img class="thumb" src="@Html.DisplayFor(modelItem => item.ProjThumbnailImg)" />
            <br />
            <img class="Pfp" src="@Html.DisplayFor(modelItem => item.Pfp)" />‎
            <span class="Title">@Html.DisplayFor(modelItem => item.UserName)</span>
            <br />
            <span class="Title">@Html.DisplayFor(modelItem => item.ProjName)</span>
            <p class="Description">@Html.DisplayFor(modelItem => item.ProjDesc)</p>
            <br />

        </div>

    }
</div>